@model LearningEditViewModel

<h2>Принадлежность к классу</h2>

<div class="row">
    <div class="col-md-6">
        <form id="user-info-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ClassId"></label>
                <select class="data-select-list" asp-for="@Model.ClassId" asp-items="@Model.Classes"></select>
                <span asp-validation-for="@Model.ClassId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="@Model.DocId" type="hidden" />
                <span asp-validation-for="@Model.DocId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>


