@model IEnumerable<AnalysisViewModel>

<h2>Анализ файлов</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Документ</th>
        <th>Исполнитель</th>
        <th>Должность</th>
        <th>Классы и принадлежности (%)</th>
        <th>Компетенции</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Document.Id</td>
            <td><a href="@("/" + item.Document.FileName)">Скачать</a></td>
            <td>@item.Document.FIO</td>
            <td>@item.Document.Skills</td>
            <td>
                @foreach (var subject in item.SubjectsAccessory)
                {
                    <p>@subject.Key — @subject.Value</p>
                }
            </td>
            <td>
                @foreach (var skill in item.Skills)
                {
                    <p>@skill</p>
                }
            </td>
        </tr>
    }
</table>