@model DocFileDetailsViewModel
@{ 
    bool show = (bool)ViewBag.Show;
    bool showClass = (bool)ViewBag.ShowClass;
}
<h2>Термины файла</h2>

<form asp-action="UpdateWords" asp-route-id="@Model.Document.Id" method="post">
    <table class="table">
        <tr>
            @*<th style="max-width:80px;">Не входит во все<br/> документы</th>
            @if (showClass)
            {
                <th style="max-width:80px;">Термин входит в класс<br/>@ViewBag.ClassName</th>
            }*@
            <th>Термин</th>
            <th>Частота встречаемости</th>
            @if (show)
            {
                <th>Принадлежность</th>
            }
        </tr>

        @foreach (var item in Model.Words)
        {
            <tr>
                @*<td style="@(item.Word.HasMeaning ? "border: 1px solid black; background-color: green; text-align: center" : "border: 1px solid black; background-color: red;; text-align: center")">
                    @(item.Word.HasMeaning ? "Да" : "Нет")
                </td>*@
                @if (showClass)
                {
                    <td style="@(item.Word.HasMeaningClass ? "border: 1px solid black; background-color: green; text-align: center" : "border: 1px solid black; background-color: red; ; text-align: center")">
                        @(item.Word.HasMeaningClass ? "Да" : "Нет")
                    </td>
                }
                <td>@item.Word.InitialForm</td>
                <td>@item.Word.Frequency</td>
                @if (show)
                {
                    <td>
                        <!--Данные для формочки-->
                        <input class="data-word-id" value="@item.Word.Id" type="hidden">
                        <select class="data-select-list" asp-for="@item.Type" asp-items="@item.Types"></select>
                    </td>
                }
            </tr>
        }
    </table>
    @if (show)
    {
        <button id="save-btn" type="submit" class="btn btn-sm btn-primary">
            Сохранить
        </button>
    }
</form>

@section Scripts {
    <script type="text/javascript">
        $(() => {
            $('#save-btn').on('click', (e) => {
                e.preventDefault()

                // Собираем данные в кулак.
                data = []

                $wordIdData = $('.data-word-id')
                $selectData = $('.data-select-list')

                let ids = []
                let select = []

                $wordIdData.each((i, v) => {
                    ids.push($(v).val())
                })

                $selectData.each((i, v) => {
                    select.push($(v).val())
                })

                for (let i = 0; i < select.length; i++) {
                    if (select[i] != 0) {
                        data.push({
                            wordId: ids[i],
                            selectId: select[i]
                        })
                    }
                }

                // Отправляем их на сервачок, который к моменту сдачи надеюсь еще будет работать, да и вообще хаос не наступит (если не наступит, то бросьте в меня камень) =)
                fetch('/DocFile/UpdateWords', {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: { 'Content-Type': 'application/json' }
                }).then((res) => {
                    alert('Исследование завершено!')
                }).catch((err) => {
                    alert('Ошибка! Все из-за твоих кривых рук!')
                }).finally(() => {
                    location.reload()
                })
            })
        })
    </script>
}
