@model IEnumerable<diploma.Data.Entities.DocFile>
@{
    bool show = (bool)ViewBag.Show;
    bool showClass = (bool)ViewBag.ShowClass;
}

<h2>Таблица документов</h2>

<a class="btn btn-sm btn-primary" asp-action="Create">Добавить файл</a>
|
<a class="btn btn-sm btn-primary" asp-controller="Analysis" asp-action="AnalyzeTerms">Ранжировать термины</a>
<br />
<br />

<table class="table">
    <tr>
        <th>ID</th>
        <th>Скачать</th>
        <th>Исполнитель</th>
        <th>Информация об исполнителе</th>
        <th colspan="2">Действия</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td><a href="@("/" + item.FileName)">Файл</a></td>
            <td>@item.FIO</td>
            <td>
                @item.Skills
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id" asp-route-showclass="@(showClass)" asp-route-show="@(show)">@(show ? "Проанализировать" : "Подробнее")</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>




