@model IEnumerable<OntologyViewModel>

<h2>Предметные области</h2>
<table class="table">
    <tr>
        <th>Класс</th>
        <th colspan="2">Действия</th>
    </tr>
    @foreach (var item in Model.Where(i => i.Class.Name == "Предметные области"))
    {
        <tr>
            <td>
                @item.Element.Name
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Ontology" asp-action="Edit" asp-route-id="@item.Element.Id">Редактировать</a>
            </td>
            <td>
                <form asp-controller="Ontology" asp-action="Delete" asp-route-id="@item.Element.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<hr/>

<h2>Компетенции</h2>
<table class="table">
    <tr>
        <th>Класс</th>
        <th colspan="2">Действия</th>
    </tr>
    @foreach (var item in Model.Where(i => i.Class.Name == "Компетенции"))
    {
        <tr>
            <td>
                @item.Element.Name
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Ontology" asp-action="Edit" asp-route-id="@item.Element.Id">Редактировать</a>
            </td>
            <td>
                <form asp-controller="Ontology" asp-action="Delete" asp-route-id="@item.Element.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>


<a class="btn btn-sm btn-primary" asp-controller="Ontology" asp-action="Edit">Создать элемент</a>

